.background-pop-quartier {
  background-image: url("./images/population-toulouse-quartier-2.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  height: 40vh;
  width: 100%;
}

.background-poi {
  background-image: url("./images/poi-tls.png");
  background-size: cover;
  background-position-x: center;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.title-flex {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container-carousel {
  height: 40vh;
  width: 100%;
}

.title-carousel {
  padding: 20px;
  color: whitesmoke !important;
  width: 25vw;
}
