.ant-layout-footer {
  background: #4b5056;
}

.ant-layout-header {
  background: #0c0000;
  height: 64px;
  padding: 0 22px;
  line-height: 48px;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #212121;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #3e3e3e;
}
.ant-layout-footer {
  padding: 0px 50px;
  margin: 0;
}
